{{/* check.tmpl */}}
#!/bin/sh

{{if .Dir}}
git clone {{.Repo}}.git {{.Dir}}
{{else}}
git clone {{.Repo}}.git
{{end}}

cd {{.Dir}}

{{if .Branch}}
git checkout {{.Branch}}
{{end}}

docker build -t {{.Tag}} .
docker run --rm -d {{.Tag}}
sleep 5