{{/* lighthouse.tmpl */}}
#!/bin/sh

{{if .Dir}}
git clone {{.Repo}}.git {{.Dir}}
{{else}}
git clone {{.Repo}}.git
{{end}}

{{if .Branch}}
git checkout {{.Branch}}
{{end}}

cd {{.Dir}}
docker build -t {{.Tag}} .
docker run --rm -v {{.Tag}}
